/*
Amauris' example

img {
	display: none;
	max-width: 600px;
	max-height: 400px;
	padding: 200px;
}*/

/* Juan's example*/

#shade {
	z-index: 500;
	background: rgba(0,0,0,.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
}

#light-image{
	z-index: 501;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}